@media only screen and (max-width: 767px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    }
    main {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    form {
        display: flex;
        flex-direction:column;
        align-items: center;
        width: 100%;
    }
    div {
        display: flex;
        flex-direction:column;
        border: 15px solid #FFCF3E7D;
        width: 100%;
    }
    input {
        height: 30px;
        margin-top: 5px;
        margin-bottom: 30px;
        background-color: #CDD6CE;
        width: 100%;
    }
    h1 {
        margin-top: 20px;
        margin-bottom: 30px;
        color: #547C84;
    }
    #button_submit {
        background-color: #547C84;
        color: white;
        width: 110px;
        align-self: center;
        margin-top: 10px;
        font-size: 20px;
    }
    label {
        color: #547C84;
    }
    #crea_compte {
        margin-top: 30px;
        background-color: #FFCF3EA8;
        color: white;
    }
    #submit_button {
        width: 40%;
        color: white;
    }
}