header {
    display: flex;
    align-content: space-between;
    background-color: #547c84;
    height: 70px;
    width: 100%;
    margin-bottom: 30px;
}
#input_intro {
    display: flex;
    background-color: #cdd6ce;
    color: #547c84;
    font-weight: bolder;
    margin: 1rem;
}
#lien_connexion #lien_crea_compte {
    font-size: larger;
}