header {
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: #547C84;
    
}
#logo_id {
    width: 9%;
}
a {
    text-decoration: none;
    color: #547C84;
    background-color: #CDD6CE;
    border: 15px solid #547C84;
    width: 13%;
}
#footer {
    background-color: #547C84;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#compte {
    text-align: center;
    font-weight: bold;
}
#connexion {
    text-align: center;
    font-weight: bold;
}
#compte1 {
    margin-left: 57%;
}
